<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- Unity 配置节点 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- Entity Framework 配置节点 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="DingTalkSyncConnectionString" connectionString="Data Source=10.4.254.30\webchat;Initial Catalog=DingTalkSync;Persist Security Info=True;User ID=itdept;Password=it.good;Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="CCHRConnectionString" connectionString="Data Source=10.4.19.151;Initial Catalog=SHCCHR0523;Persist Security Info=True;User ID=sa;Password=sh.123!@#;Max Pool Size=1000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--Entity Framework关于mysql provider配置 开始-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" ></provider>
    </providers>
  </entityFramework>
  <!--Entity Framework关于mysql provider配置 结束-->
  <appSettings>
    <!--钉钉 api-->
    <add key="dingtalk" value="https://oapi.dingtalk.com/" />
    <!--钉钉 corp-->
    <add key="corpid" value="ding58571a27b4c6177035c2f4657eb6378f" />
    <add key="corpsecret" value="l1LvHe21_LmjjRampfbjWg1K29ZX5gzf1dgOyXwz-dZeS9ZETpQ4oto8qAwPheZB" />
    <!--钉钉 webapp-->
    <add key="agentid" value="277381180" />
    <add key="appkey" value="dingti81vblge3xccsbh" />
    <add key="appsecret" value="GyCkNB0Gh0_97TQKLBUCpwmy93_dmF40teT5f2245C29KV5ppu_lBHUs7aJy_r1O" />
    <!--CCHR首页-->
    <add key="url" value="https://shkqapi.centanet.com/dingtalk-webapp/index.html" />
    <!--钉钉回调地址-->
    <add key="registerurl" value="https://shkqapi.centanet.com/dingtalk-api/Handler/ReceiveCallback.ashx" />
  </appSettings>
  <!--Unity IoC配置 开始-->
  <unity>
    <typeAliases>
      <typeAlias alias="CCHR_EmployeeRepository" type="Domain.DingTalkSync.Repository.CCHR_EmployeeRepository,Domain" />
      <typeAlias alias="ICCHR_EmployeeRepository" type="Domain.DingTalkSync.Repository.ICCHR_EmployeeRepository,Domain" />

      <typeAlias alias="UserSyncRepository" type="Domain.DingTalkSync.Repository.UserSyncRepository,Domain" />
      <typeAlias alias="IUserSyncRepository" type="Domain.DingTalkSync.Repository.IUserSyncRepository,Domain" />

      <typeAlias alias="CCHR_DepartmentRepository" type="Domain.DingTalkSync.Repository.CCHR_DepartmentRepository,Domain" />
      <typeAlias alias="ICCHR_DepartmentRepository" type="Domain.DingTalkSync.Repository.ICCHR_DepartmentRepository,Domain" />

      <typeAlias alias="CCHR_EmployeePositionRoleRepository" type="Domain.DingTalkSync.Repository.CCHR_EmployeePositionRoleRepository,Domain" />
      <typeAlias alias="ICCHR_EmployeePositionRoleRepository" type="Domain.DingTalkSync.Repository.ICCHR_EmployeePositionRoleRepository,Domain" />

      <typeAlias alias="CCHR_PositionRepository" type="Domain.DingTalkSync.Repository.CCHR_PositionRepository,Domain" />
      <typeAlias alias="ICCHR_PositionRepository" type="Domain.DingTalkSync.Repository.ICCHR_PositionRepository,Domain" />
      
      <typeAlias alias="ILoginService" type="Application.Service.ILoginService,Application" />
      <typeAlias alias="LoginService" type="Application.Service.LoginService,Application" />

      <typeAlias alias="INameValuePairsRepository" type="Domain.DingTalkSync.Repository.INameValuePairsRepository,Domain" />
      <typeAlias alias="NameValuePairsRepository" type="Domain.DingTalkSync.Repository.NameValuePairsRepository,Domain" />

      <typeAlias alias="INameValuePairsService" type="Application.Service.INameValuePairsService,Application" />
      <typeAlias alias="NameValuePairsService" type="Application.Service.NameValuePairsService,Application" />

      <typeAlias alias="IEmployeeContractApplyRepository" type="Domain.CCHR.Repository.IEmployeeContractApplyRepository,Domain" />
      <typeAlias alias="EmployeeContractApplyRepository" type="Domain.CCHR.Repository.EmployeeContractApplyRepository,Domain" />

      <typeAlias alias="IEmpContractService" type="Application.Service.IEmpContractService,Application" />
      <typeAlias alias="EmpContractService" type="Application.Service.EmpContractService,Application" />
      
    </typeAliases>
    <containers>
      <container name="Repository">
        <type type="ICCHR_EmployeeRepository" mapTo="CCHR_EmployeeRepository" />
        <type type="IUserSyncRepository" mapTo="UserSyncRepository" />
        <type type="ICCHR_DepartmentRepository" mapTo="CCHR_DepartmentRepository" />
        <type type="ICCHR_EmployeePositionRoleRepository" mapTo="CCHR_EmployeePositionRoleRepository" />
        <type type="ICCHR_PositionRepository" mapTo="CCHR_PositionRepository" />
        <type type="INameValuePairsRepository" mapTo="NameValuePairsRepository" />
        <type type="IEmployeeContractApplyRepository" mapTo="EmployeeContractApplyRepository" />
      </container>
      <container name="Service">
        <type type="ILoginService" mapTo="LoginService" />
        <type type="INameValuePairsService" mapTo="NameValuePairsService" />
        <type type="IEmpContractService" mapTo="EmpContractService" />
      </container>
    </containers>
  </unity>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <level value="DEBUG" />
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_IK2WorkflowService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/k2webservice/Service/K2WorkflowService.svc" binding="basicHttpBinding" bindingConfiguration="CustomBinding_IK2WorkflowService"    contract="K2WorkflowService.IK2WorkflowService" name="CustomBinding_IK2WorkflowService" />
    </client>
  </system.serviceModel>
</configuration>
